Repository scoutgame/scoutgame.xyz, pull requests merged in 2025-03, with the labels that each got.

#345 Rule change: change first commit value and allow more than one 'first commit' per week
  apps/cron/src/__tests__/worker/processPullRequests.spec.ts
  apps/cron/src/tasks/processBuilderActivity/__tests__/processBuilderActivity.spec.ts
  apps/cron/src/tasks/processBuilderActivity/__tests__/recordMergedPullRequest.spec.ts
  apps/cron/src/tasks/processBuilderActivity/config.ts
  apps/cron/src/tasks/processBuilderActivity/recordMergedPullRequest.ts
  packages/scoutgame-ui/src/components/info/pages/WeeklyRewardsPage.tsx
Labels: game rules

#348 add announcement banner for referral feature
  apps/scoutgame/app/(general)/layout.tsx
  apps/scoutgame/components/common/AnnouncementBanner/AnnouncementBanner.tsx
  apps/scoutgame/components/common/AnnouncementBanner/components/Alert.tsx
  apps/scoutgame/components/common/AnnouncementBanner/config.tsx
  apps/scoutgame/components/home/LandingPage.tsx
  packages/scoutgame-ui/src/components/builders/BuildersPage.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPage.tsx
Labels: :rocket: deploy-scoutgame

#371 better looking Join button
  packages/scoutgame-ui/src/components/common/JoinGithubButton.tsx
Labels: :rocket: deploy-scoutgame

#372 Added octant repo contribution quest
  apps/cron/src/tasks/processBuilderActivity/recordMergedPullRequest.ts
  packages/scoutgame-ui/src/components/quests/QuestsList/QuestsIcons.tsx
  packages/scoutgame/src/quests/questRecords.ts
  scripts/migrations/2024_12_19_backfillQuestsForUsers.ts
Labels: :rocket: deploy-scoutgame

#385 Remove optimism reward for new scouts
  apps/admin/components/partners/PartnersDashboard.tsx
  apps/cron/src/tasks/alertLowWalletGasBalance/alertLowAirdropWalletBalance.ts
  apps/cron/src/tasks/processGemsPayout/deployNewScoutRewardsContract.ts
  apps/cron/src/tasks/processGemsPayout/deployReferralRewardsContract.ts
  apps/cron/src/tasks/processGemsPayout/index.ts
  apps/scoutgame/__e2e__/infoPage.spec.ts
  apps/scoutgame/__e2e__/po/InfoPage.po.ts
  apps/scoutgame/__e2e__/scoutPage.spec.ts
  apps/scoutgame/app/(general)/info/partner-rewards/optimism/page.tsx
  packages/scoutgame-ui/src/components/info/components/InfoPageFooter.tsx
  packages/scoutgame-ui/src/components/info/components/SidebarInfo.tsx
  packages/scoutgame-ui/src/components/info/pages/PartnerRewardsPage.tsx
  packages/scoutgame-ui/src/components/info/partner-rewards/OptimismPage.tsx
  packages/scoutgame-ui/src/components/quests/QuestsList/QuestsIcons.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPage.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPageTable/ScoutPageTable.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPageTable/components/NewScoutsTable.tsx
  packages/scoutgame/src/quests/__tests__/recordNftPurchaseQuests.spec.ts
  packages/scoutgame/src/quests/questRecords.ts
  packages/scoutgame/src/quests/recordNftPurchaseQuests.ts
Labels: :rocket: deploy-scoutgame

#403 Show smart gems
  apps/cron/src/tasks/processBuilderOnchainActivity/index.ts
  apps/cron/src/tasks/processDuneAnalytics/index.ts
  apps/scoutgame/public/images/icons/binoculars-blue.svg
  apps/scoutgame/public/images/icons/binoculars-green.svg
  apps/scoutgame/public/images/icons/binoculars-orange.svg
  apps/scoutgame/public/images/icons/binoculars.svg
  apps/scoutgame/public/images/icons/gem-bronze.svg
  apps/scoutgame/public/images/icons/gem-gold.svg
  apps/scoutgame/public/images/icons/gem-silver.svg
  apps/scoutgame/public/images/icons/gem.svg
  apps/scoutgame/public/images/icons/transaction.svg
  packages/blockchain/src/analytics/__tests__/getNewProjectAchievements.spec.ts
  packages/blockchain/src/analytics/getNewProjectAchievements.ts
  packages/blockchain/src/analytics/recordContractAnalytics.ts
  packages/blockchain/src/analytics/saveProjectAchievement.ts
  packages/dune/src/client.ts
  packages/dune/src/queries.ts
  packages/scoutgame-ui/src/components/[path]/components/PublicBuilderProfile/PublicBuilderStats.tsx
  packages/scoutgame-ui/src/components/[path]/components/PublicScoutProfile/PublicScoutProfileStats.tsx
  packages/scoutgame-ui/src/components/builders/BuilderPageTable/components/ActivityTable.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsClaimScreen/PointsClaimScreen.tsx
  packages/scoutgame-ui/src/components/claim/components/common/PointsCell.tsx
  packages/scoutgame-ui/src/components/common/Card/BuilderCard/BuilderCardActivity/BuilderCardActivity.tsx
  packages/scoutgame-ui/src/components/common/DeveloperInfoModal/DeveloperInfoModal.tsx
  packages/scoutgame-ui/src/components/common/Icons.tsx
  packages/scoutgame-ui/src/components/common/Navigation/Header.tsx
  packages/scoutgame-ui/src/components/common/Profile/EditableUserProfile/EditableAvatar.tsx
  packages/scoutgame-ui/src/components/common/ScoutButton/ScoutButton.tsx
  packages/scoutgame-ui/src/components/profile/components/BuilderProfile/BuilderActivitiesList.tsx
  packages/scoutgame-ui/src/components/profile/components/BuilderProfile/BuilderProfile.tsx
  packages/scoutgame-ui/src/components/profile/components/BuilderProfile/BuilderStats.tsx
  packages/scoutgame-ui/src/components/profile/components/BuilderProfile/BuilderWeeklyStats.tsx
  packages/scoutgame-ui/src/components/profile/components/ProfileStats/ProfileStats.tsx
  packages/scoutgame-ui/src/components/profile/components/ScoutProfile/ScoutStats.tsx
  packages/scoutgame-ui/src/components/projects/[path]/ProjectPage.tsx
  packages/scoutgame-ui/src/components/projects/[path]/components/OnchainActivityGraph.tsx
  packages/scoutgame-ui/src/components/projects/[path]/components/ProjectPageMember.tsx
  packages/scoutgame-ui/src/components/projects/components/ProjectsTab.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPageTable/components/BuildersTable.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPageTable/components/ScoutsTable.tsx
  packages/scoutgame/src/builderNfts/artwork/components/BuilderShareImage.tsx
  packages/scoutgame/src/builders/getBuilderActivities.ts
  packages/scoutgame/src/projects/getProjectByPath.ts
  packages/scoutgameattestations/src/attestGemReceipts.ts
  packages/testing/src/database.ts
  scripts/mockProjectData.ts
  scripts/query.ts
Labels: :rocket: deploy-scoutgame

#407 Improved developer mini profile
  apps/scoutgame/public/images/profile/icons/cards-secondary.svg
  apps/scoutgame/theme/index.d.ts
  packages/scoutgame-ui/src/components/common/DeveloperInfoModal/DeveloperInfoModal.tsx
  packages/scoutgame-ui/src/components/common/DeveloperInfoModal/DeveloperInfoModalSkeleton.tsx
  packages/scoutgame-ui/src/components/common/ScoutButton/ScoutButton.tsx
  packages/scoutgame-ui/src/providers/DeveloperInfoModalProvider.tsx
  packages/scoutgame-ui/src/theme/index.d.ts
  packages/scoutgame-ui/src/theme/theme.ts
  packages/scoutgame/src/builders/getDeveloperInfo.ts
Labels: :rocket: deploy-scoutgame

#404 App notifications page
  apps/cron/src/notifications/sendDeveloperRankChangeNotifications.ts
  apps/cron/src/notifications/sendGemsPayoutNotifications.ts
  apps/cron/src/tasks/processBuilderActivity/recordClosedPullRequest.ts
  apps/cron/src/tasks/processBuilderActivity/recordMergedPullRequest.ts
  apps/scoutgame/app/(general)/notifications/page.tsx
  apps/scoutgame/app/api/notifications/unread-count/route.ts
  package-lock.json
  package.json
  packages/farcaster/src/sendFarcasterNotification.ts
  packages/scoutgame-ui/src/actions/toggleAppNotification.ts
  packages/scoutgame-ui/src/components/common/Navigation/Header.tsx
  packages/scoutgame-ui/src/components/notifications/NotificationCard.tsx
  packages/scoutgame-ui/src/components/notifications/NotificationsPage.tsx
  packages/scoutgame-ui/src/hooks/api/notifications.ts
  packages/scoutgame/src/builderNfts/handleEmailFailedTransaction.ts
  packages/scoutgame/src/builderNfts/recordNftMint.ts
  packages/scoutgame/src/builders/approveBuilder.ts
  packages/scoutgame/src/notifications/appNotificationConstants.ts
  packages/scoutgame/src/notifications/getAppNotifications.ts
  packages/scoutgame/src/notifications/sendAppNotification.ts
  packages/scoutgame/src/notifications/sendNotifications.ts
  packages/scoutgame/src/projects/createScoutProjectAction.ts
  packages/scoutgame/src/projects/updateScoutProjectAction.ts
Labels: :rocket: deploy-scoutgame

#412 remove redundant card count
  apps/scoutgame/app/(general)/u/[path]/page.tsx
  packages/scoutgame-ui/src/components/[path]/PublicProfilePage.tsx
  packages/scoutgame-ui/src/components/[path]/components/PublicBuilderProfile/PublicBuilderProfile.tsx
  packages/scoutgame-ui/src/components/[path]/components/PublicBuilderProfile/PublicBuilderProfileContainer.tsx
  packages/scoutgame-ui/src/components/[path]/components/PublicScoutProfile/PublicScoutProfile.tsx
  packages/scoutgame-ui/src/components/[path]/components/PublicScoutProfile/PublicScoutProfileContainer.tsx
  packages/scoutgame-ui/src/components/common/Card/BuilderCard/BuilderCard.tsx
  packages/scoutgame-ui/src/components/common/Card/BuilderCard/BuilderCardName.tsx
  packages/scoutgame-ui/src/components/common/Card/BuilderCard/BuilderCardStats.tsx
  packages/scoutgame-ui/src/components/common/Gallery/BuildersGallery.tsx
  packages/scoutgame-ui/src/components/profile/components/ScoutProfile/ScoutProfile.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPageTable/ScoutPageTable.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPageTable/components/BuildersTable.tsx
  packages/scoutgame/src/builders/getBuilderCardStats.ts
  packages/scoutgame/src/builders/getBuilders.ts
  packages/scoutgame/src/builders/interfaces.ts
  packages/scoutgame/src/scouts/getScoutedBuilders.ts
Labels: :rocket: deploy-scoutgame

#420 Require developers to connect a primary wallet before being approved
  packages/nextjs/src/session/getUser.ts
  packages/nextjs/src/session/interfaces.ts
  packages/scoutgame-ui/src/components/builders/BuilderInviteCard/BuilderInviteCard.tsx
  packages/scoutgame-ui/src/components/builders/BuilderInviteCard/WalletConnect.tsx
  packages/scoutgame-ui/src/components/builders/BuildersPage.tsx
  packages/scoutgame-ui/src/components/builders/InviteModal/InviteModal.tsx
  packages/scoutgame-ui/src/components/common/JoinGithubButton.tsx
Labels: :rocket: deploy-scoutgame

#430 Starter cards carousel
  packages/scoutgame-ui/src/components/[path]/components/PublicBuilderProfile/PublicBuilderProfileContainer.tsx
  packages/scoutgame-ui/src/components/builders/BuilderPageTable/BuilderPageTable.tsx
  packages/scoutgame-ui/src/components/common/Card/BuilderCard/BuilderCard.tsx
  packages/scoutgame-ui/src/components/common/Carousel/Carousel.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPage.tsx
  packages/scoutgame-ui/src/components/scout/StarterPackCarousel/StarterPackCard.tsx
  packages/scoutgame-ui/src/components/scout/StarterPackCarousel/StarterPackCardDetails.tsx
  packages/scoutgame-ui/src/components/scout/StarterPackCarousel/StarterPackCarousel.tsx
  packages/scoutgame-ui/src/components/scout/StarterPackCarousel/StarterPackInfo.tsx
  packages/scoutgame-ui/src/components/scout/TodaysHotBuildersCarousel/BuildersCarousel.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageCarousel.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageCarousel/ScoutPageCarousel.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageCarousel/components/DevelopersCarousel.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageCarousel/components/PromoCard.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageCarouselContainer.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageTable/ScoutPageTable.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageTable/components/CommonTableRow.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageTable/components/DevelopersTable.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageTable/components/DevelopersTableContainer.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageTable/components/ScoutTabsMenu.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageTable/components/ScoutsTable.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageTable/components/ScoutsTableContainer.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageTable/components/TableCellText.tsx
  packages/scoutgame/src/builders/getStarterCardDevelopers.ts
  packages/scoutgame/src/builders/getStarterPackBuilders.ts
  scripts/query.ts
Labels: :rocket: deploy-scoutgame

#435 add new draft app
  .cdk/bin/app.ts
  .cdk/config.ts
  .eslintrc.json
  .github/workflows/deploy_draft.yml
  .github/workflows/destroy_staging.yml
  apps/admin/.env.ebstalk
  apps/cron/.env.ebstalk
  apps/draft/.ebextensions/00_env_vars.config
  apps/draft/.ebextensions/01_filesystem.config
  apps/draft/.ebextensions/02_autoscaling.config
  apps/draft/.ebextensions/03_env_health_ignore_400.config
  apps/draft/.ebextensions/06_cloudwatch_alarm.config
  apps/draft/.ebextensions/07_http-to-https.config
  apps/draft/.env.ebstalk
  apps/draft/Dockerfile
  apps/draft/app/(info)/layout.tsx
  apps/draft/app/(info)/login/page.tsx
  apps/draft/app/(info)/template.tsx
  apps/draft/app/api/health/route.ts
  apps/draft/app/layout.tsx
  apps/draft/app/page.tsx
  apps/draft/components/common/ClientGlobals.tsx
  apps/draft/components/login/LoginPage.tsx
  apps/draft/jest.config.ts
  apps/draft/next-env.d.ts
  apps/draft/next.config.mjs
  apps/draft/package.json
  apps/draft/public/favicon.ico
  apps/draft/tsconfig.json
  apps/scoutgame/.env.ebstalk
  docker-compose.yml
  package-lock.json
  package.json
  packages/dates/src/config.ts
  packages/scoutgame-ui/src/components/common/DeveloperInfoModal/DeveloperInfoModal.tsx
  packages/scoutgame/package.json
  packages/scoutgameattestations/src/constants.ts
Labels: :rocket: deploy-draft
