Repository scoutgame/scoutgame.xyz, pull requests merged in 2025-02, with the labels that each got.

#273 Update contribution and maintainer guide
  apps/scoutgame/app/(general)/info/core-maintainer-guide/page.tsx
  packages/scoutgame-ui/src/components/info/components/InfoPageFooter.tsx
  packages/scoutgame-ui/src/components/info/components/SidebarInfo.tsx
  packages/scoutgame-ui/src/components/info/pages/ContributionGuidePage.tsx
  packages/scoutgame-ui/src/components/info/pages/CoreMaintainerGuidePage.tsx
Labels: :rocket: deploy-scoutgame

#271 Token airdrop claim
  apps/cron/.env.ebstalk
  apps/cron/cron.yml
  apps/cron/src/tasks/processGemsPayout/__tests__/createSablierAirdropContract.spec.ts
  apps/cron/src/tasks/processGemsPayout/createSablierAirdropContract.ts
  apps/cron/src/tasks/processGemsPayout/deployNewScoutRewardsContract.ts
  apps/cron/src/tasks/processGemsPayout/deployReferralChampionRewardsContract.ts
  apps/cron/src/tasks/processGemsPayout/index.ts
  apps/onchain-cron/.env.ebstalk
  package-lock.json
  package.json
  packages/blockchain/jest.config.ts
  packages/blockchain/jest.teardown-init.js
  packages/blockchain/jest.teardown.ts
  packages/blockchain/package.json
  packages/blockchain/src/airdrop/SablierMerkleInstant.json
  packages/blockchain/src/airdrop/__tests__/checkSablierAirdropEligibility.spec.ts
  packages/blockchain/src/airdrop/checkSablierAirdropEligibility.ts
  packages/blockchain/src/airdrop/clawbackAirdropTokens.ts
  packages/blockchain/tsconfig.json
  packages/mixpanel/src/interfaces.ts
  packages/nextjs/src/session/getUser.ts
  packages/scoutgame-ui/src/components/claim/components/PointsClaimContainer.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsClaimScreen/PartnerRewardsClaimButton/PartnerRewardsClaimButton.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsClaimScreen/PartnerRewardsClaimButton/SablierMerkleInstant.json
  packages/scoutgame-ui/src/components/claim/components/PointsClaimScreen/PartnerRewardsClaimButton/useClaimPartnerReward.ts
  packages/scoutgame-ui/src/components/claim/components/PointsClaimScreen/PointsClaimButton.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsClaimScreen/PointsClaimScreen.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsTable/ClaimedPointsTable.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsTable/PointsReceiptRewardRow.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsTable/PointsTable.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsTable/UnclaimedPointsTable.tsx
  packages/scoutgame-ui/src/components/common/NFTPurchaseDialog/hooks/useDecentTransaction.tsx
  packages/scoutgame-ui/tsconfig.json
  packages/scoutgame/src/partnerReward/__tests__/updatePartnerRewardPayout.spec.ts
  packages/scoutgame/src/partnerReward/checkPartnerRewardEligibility.ts
  packages/scoutgame/src/partnerReward/checkPartnerRewardEligibilityAction.ts
  packages/scoutgame/src/partnerReward/checkPartnerRewardEligibilitySchema.ts
  packages/scoutgame/src/partnerReward/updatePartnerRewardPayout.ts
  packages/scoutgame/src/partnerReward/updatePartnerRewardPayoutAction.ts
  packages/scoutgame/src/points/getPartnerRewards.ts
  packages/scoutgame/src/scouts/getNewScouts.ts
  packages/scoutgame/src/scripts/clawbackPartnerReward.ts
  packages/scoutgame/src/topConnector/__tests__/getTopConnectors.spec.ts
  packages/scoutgame/src/topConnector/getTopConnectors.ts
  packages/testing/src/database.ts
  tsconfig.base.json
Labels: :rocket: deploy-scoutgame, Work in progress

#276 Search repos
  apps/scoutgame/app/(general)/info/repositories/page.tsx
  apps/scoutgame/app/api/repos/route.ts
  packages/scoutgame-ui/src/components/info/components/SearchRepos/SearchRepos.tsx
  packages/scoutgame-ui/src/components/info/components/SidebarInfo.tsx
  packages/scoutgame-ui/src/components/info/pages/BuildersPage.tsx
  packages/scoutgame-ui/src/components/info/pages/RepositoriesPage.tsx
  packages/scoutgame-ui/src/hooks/api/repos.ts
  packages/scoutgame/src/repos/getRepos.ts
Labels: :rocket: deploy-scoutgame

#192 Retrieve contract transactions
  .cdk/ProductionStack.ts
  .cdk/bin/app.ts
  .cdk/config.ts
  .github/actions/deploy_production/action.yml
  .github/actions/deploy_staging/action.yml
  apps/cron/.platform/nginx/conf.d/timeout.conf
  apps/cron/cron.yml
  apps/cron/src/tasks/alertLowWalletGasBalance/__tests__/alertLowWalletGasBalance.spec.ts
  apps/cron/src/tasks/alertLowWalletGasBalance/__tests__/getWalletGasBalanceInUSD.spec.ts
  apps/cron/src/tasks/alertLowWalletGasBalance/index.ts
  apps/cron/src/tasks/retrieveContractInteractions/__tests__/retrieveContractInteractions.spec.ts
  apps/cron/src/tasks/retrieveContractInteractions/index.ts
  apps/cron/src/worker.ts
  package-lock.json
  packages/blockchain/src/getBlockByDate.ts
  packages/blockchain/src/getLastBlockOfWeek.ts
  packages/blockchain/src/getWalletClient.ts
  packages/blockchain/src/provider/ankr/client.ts
  packages/blockchain/src/provider/ankr/request.ts
  packages/nextjs/src/utils/async.ts
  packages/scoutgame/src/telegram/verifyTelegramTokenAction.ts
  packages/testing/src/database.ts
  packages/utils/package.json
  packages/utils/src/__tests__/json.spec.ts
  packages/utils/src/async.ts
  packages/utils/src/json.ts
  scripts/getTaikoContractInteractions.ts
  scripts/query.ts
Labels: :rocket: deploy-cron

#291 Daily quest redesign
  apps/scoutgame/public/images/quests/mystery-box.svg
  apps/scoutgame/public/images/quests/question-icon-dark.svg
  packages/scoutgame-ui/src/components/quests/DailyClaimGallery/DailyClaimCard.tsx
  packages/scoutgame-ui/src/components/quests/DailyClaimGallery/DailyClaimGallery.tsx
  packages/scoutgame-ui/src/components/quests/DailyClaimGallery/NextClaimCountdown.tsx
  packages/scoutgame-ui/src/components/quests/QuestsPage.tsx
Labels: :rocket: deploy-scoutgame

#296 Search wallet activity via taikoscan
  apps/cron/.env.ebstalk
  apps/cron/cron.yml
  apps/cron/jest.teardown.ts
  apps/cron/package.json
  apps/cron/src/tasks/processBuilderOnchainActivity/__tests__/processBuilderOnchainActivity.spec.ts
  apps/cron/src/tasks/processBuilderOnchainActivity/__tests__/processWalletTransactions.spec.ts
  apps/cron/src/tasks/processBuilderOnchainActivity/index.ts
  apps/cron/src/tasks/processBuilderOnchainActivity/processContractTransactions.ts
  apps/cron/src/tasks/processBuilderOnchainActivity/processWalletTransactions.ts
  apps/cron/src/worker.ts
  apps/onchain-cron/.env.ebstalk
  package-lock.json
  packages/blockchain/src/getBlockByDate.ts
  packages/blockchain/src/provider/ankr/request.ts
  packages/blockchain/src/provider/taikoscan/client.ts
  packages/blockchain/src/provider/taikoscan/request.ts
  packages/scoutgame/src/projects/__tests__/createScoutProject.spec.ts
  packages/scoutgame/src/projects/__tests__/updateScoutProject.spec.ts
  packages/scoutgame/src/projects/createScoutProject.ts
  packages/scoutgame/src/projects/getProjectByPath.ts
  packages/scoutgame/src/projects/getUserScoutProjects.ts
  packages/scoutgame/src/projects/updateScoutProject.ts
  packages/testing/src/database.ts
  scripts/getTaikoContractInteractions.ts
  scripts/query.ts
Labels: :rocket: deploy-cron

#301 Taiko ai agents developers onboarding
  apps/scoutgame/__e2e__/po/ProjectPage.po.ts
  apps/scoutgame/__e2e__/po/TaikoDevelopersPage.po.ts
  apps/scoutgame/__e2e__/taikoOnboarding.spec.ts
  apps/scoutgame/__e2e__/test.ts
  apps/scoutgame/app/(general)/info/layout.tsx
  apps/scoutgame/app/(general)/info/partner-rewards/taiko/page.tsx
  apps/scoutgame/app/(general)/profile/projects/create/page.tsx
  apps/scoutgame/app/(info)/welcome/page.tsx
  apps/scoutgame/middleware.ts
  apps/scoutgame/public/images/home/gaspump-icon.svg
  apps/scoutgame/public/images/home/robot-icon.svg
  apps/scoutgame/public/images/home/scoutgame-icon.svg
  apps/scoutgame/public/images/home/taiko-icon.svg
  apps/scoutgame/public/images/partner/taiko-hero.png
  packages/mixpanel/src/interfaces.ts
  packages/nextjs/src/session/getUser.ts
  packages/nextjs/src/session/interfaces.ts
  packages/scoutgame-ui/src/components/common/Navigation/Header.tsx
  packages/scoutgame-ui/src/components/common/WalletLogin/WalletLogin.tsx
  packages/scoutgame-ui/src/components/common/WarpcastLogin/WarpcastLoginButton.tsx
  packages/scoutgame-ui/src/components/info/components/InfoPageContainer.tsx
  packages/scoutgame-ui/src/components/info/components/SidebarInfo.tsx
  packages/scoutgame-ui/src/components/projects/[path]/ProjectPage.tsx
  packages/scoutgame-ui/src/components/projects/[path]/edit/components/EditProjectForm.tsx
  packages/scoutgame-ui/src/components/projects/components/ProjectForm/ProjectForm.tsx
  packages/scoutgame-ui/src/components/projects/create/components/CreateProjectForm.tsx
  packages/scoutgame-ui/src/components/projects/create/components/ProjectAgentWalletForm.tsx
  packages/scoutgame-ui/src/components/projects/create/components/ProjectSmartContractForm.tsx
  packages/scoutgame-ui/src/components/welcome/taiko-builder/TaikoBuilderWelcomePage.tsx
  packages/scoutgame-ui/src/components/welcome/taiko-builder/components/TaikoCreateProjectScreen.tsx
  packages/scoutgame/src/farcaster/config.ts
  packages/scoutgame/src/projects/__tests__/createScoutProject.spec.ts
  packages/scoutgame/src/projects/__tests__/updateScoutProject.spec.ts
  packages/scoutgame/src/projects/constants.ts
  packages/scoutgame/src/projects/createScoutProject.ts
  packages/scoutgame/src/projects/createScoutProjectSchema.ts
  packages/scoutgame/src/projects/getProjectByPath.ts
  packages/scoutgame/src/projects/getUserScoutProjects.ts
  packages/scoutgame/src/projects/updateScoutProject.ts
  packages/scoutgame/src/projects/updateScoutProjectSchema.ts
  packages/scoutgame/src/session/loginWithFarcasterAction.ts
  packages/scoutgame/src/session/loginWithWalletAction.ts
  packages/scoutgame/src/wallets/connectWalletAccountSchema.ts
  packages/testing/src/database.ts
  packages/users/src/findOrCreateFarcasterUser.ts
  packages/users/src/findOrCreateUser.ts
  packages/users/src/findOrCreateWalletUser.ts
  packages/users/src/queries.ts
Labels: :rocket: deploy-scoutgame

#315 add a scout button on all NFTs
  apps/scoutgame/__e2e__/buyNft.spec.ts
  packages/scoutgame-ui/src/components/[path]/PublicProfilePage.tsx
  packages/scoutgame-ui/src/components/[path]/components/PublicBuilderProfile/PublicBuilderProfile.tsx
  packages/scoutgame-ui/src/components/[path]/components/PublicBuilderProfile/PublicBuilderProfileContainer.tsx
  packages/scoutgame-ui/src/components/builders/BuilderPageTable/components/LeaderboardTable.tsx
  packages/scoutgame-ui/src/components/common/Card/BuilderCard/BuilderCard.tsx
  packages/scoutgame-ui/src/components/common/ScoutButton/ScoutButton.tsx
  packages/scoutgame-ui/src/components/scout/StarterPackCarousel/StarterPackCard.tsx
  packages/scoutgame-ui/src/components/scout/StarterPackCarousel/StarterPackCarousel.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageCarousel.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageCarouselContainer.tsx
  packages/scoutgame/src/builderNfts/builderRegistration/registerBuilderStarterPackNFT.ts
  packages/scoutgame/src/builders/getBuilderCardStats.ts
  packages/scoutgame/src/builders/getBuilderNft.ts
  packages/scoutgame/src/builders/getStarterPackBuilders.ts
  packages/scoutgame/src/scouts/countStarterPackTokensPurchased.ts
  scripts/deployStarterPack.ts
  tsconfig.base.json
Labels: :rocket: deploy-scoutgame

#320 Developer mini profile modal
  apps/scoutgame/public/images/profile/icons/cards-white.svg
  packages/scoutgame-ui/src/components/builders/BuilderPageTable/components/ActivityTable.tsx
  packages/scoutgame-ui/src/components/builders/BuilderPageTable/components/DeveloperCell.tsx
  packages/scoutgame-ui/src/components/builders/BuilderPageTable/components/LeaderboardTable.tsx
  packages/scoutgame-ui/src/components/claim/components/BuilderRewardsScreen/BuilderRewardsTable.tsx
  packages/scoutgame-ui/src/components/common/Card/BuilderCard/BuilderCardActivity/BuilderCardActivity.tsx
  packages/scoutgame-ui/src/components/common/Card/BuilderCard/BuilderCardNftDisplay.tsx
  packages/scoutgame-ui/src/components/common/DeveloperInfoModal/DeveloperInfoModal.tsx
  packages/scoutgame-ui/src/components/projects/[path]/ProjectPage.tsx
  packages/scoutgame-ui/src/components/projects/[path]/components/ProjectPageMember.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPageTable/components/BuildersTable.tsx
  packages/scoutgame-ui/src/providers/AppProviders.tsx
  packages/scoutgame-ui/src/providers/DeveloperInfoModalProvider.tsx
  packages/scoutgame-ui/src/providers/ModalProvider.tsx
  packages/scoutgame/src/builders/getDeveloperInfo.ts
  packages/utils/src/dates.ts
Labels: :rocket: deploy-scoutgame

#333 Scoutgame farcaster frames v2
  apps/cron/src/tasks/processBuilderActivity/processBuilderActivity.ts
  apps/cron/src/tasks/processGemsPayout/deployOctantBasePartnerRewards.ts
  apps/scoutgame/app/(general)/page.tsx
  apps/scoutgame/app/robots.ts
  apps/scoutgame/components/common/ClientGlobals.tsx
  apps/scoutgame/middleware.ts
  apps/scoutgame/public/.well-known/farcaster.json
  apps/scoutgame/public/images/farcaster/fc_frame.png
  apps/scoutgame/public/images/farcaster/fc_icon.png
  apps/scoutgame/public/images/farcaster/fc_splash.png
  apps/telegram/public/images/profile/icons/cards-black.svg
  package-lock.json
  packages/mixpanel/src/trackUserAction.ts
  packages/nextjs/src/session/getSession.ts
  packages/scoutgame-ui/package.json
  packages/scoutgame-ui/src/components/claim/components/PointsClaimContainer.tsx
  packages/scoutgame-ui/src/components/claim/components/PointsClaimScreen/PointsClaimScreen.tsx
  packages/scoutgame-ui/src/components/common/NFTPurchaseDialog/components/NFTPurchaseForm.tsx
  packages/scoutgame-ui/src/components/common/Navigation/Header.tsx
  packages/scoutgame-ui/src/components/common/Navigation/SiteNavigation.tsx
  packages/scoutgame-ui/src/components/common/ScoutButton/ScoutButton.tsx
  packages/scoutgame-ui/src/components/quests/QuestsList/FriendlyQuest/components/InviteButtons.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPageTable/components/BuildersTable.tsx
  packages/scoutgame-ui/src/hooks/useInitFarcasterData.ts
  packages/scoutgame-ui/src/hooks/useInitTelegramData.ts
  packages/scoutgame-ui/src/hooks/useLoginSuccessHandler.ts
  packages/scoutgame-ui/src/providers/WagmiProvider.tsx
  packages/scoutgame-ui/src/providers/wagmiConfig.ts
  packages/scoutgame/src/builderNfts/handlePendingTransaction.ts
  packages/scoutgame/src/mixpanel/trackEventAction.ts
  packages/scoutgame/src/scouts/getScoutedBuilders.ts
  packages/users/src/findOrCreateFarcasterUser.ts
  packages/users/src/findOrCreateUser.ts
  packages/users/src/findOrCreateWalletUser.ts
  packages/users/src/referrals/createReferralEvent.ts
  packages/users/src/saveOnboardingDetailsAction.ts
  packages/users/src/updateUserEmailSettings.ts
  packages/utils/src/platform.ts
Labels: :rocket: deploy-scoutgame

#350 update octokit for security vuln
  package-lock.json
  packages/github/package.json
Labels: dependencies
