Repository scoutgame/scoutgame.xyz, pull requests merged in 2025-04, with the labels that each got.

#484 add standard server action key
  apps/airdrop/.env.ebstalk
  apps/scoutgame/.env.ebstalk
  apps/telegram/.env.ebstalk
Labels: :rocket: deploy-admin, :rocket: deploy-scoutgame

#471 Airdrop v2
  apps/airdrop/.env.ebstalk
  apps/airdrop/components/claim/ClaimTokenScreen.tsx
  apps/airdrop/components/claim/components/DonationConfirmationStep.tsx
  apps/airdrop/components/claim/components/DonationSelectionStep.tsx
  apps/airdrop/components/claim/components/ShowClaimableTokensStep.tsx
  apps/airdrop/components/claim/components/StartClaimStep.tsx
  apps/airdrop/components/common/Navigation/Header.tsx
  apps/airdrop/components/common/WalletLogin.tsx
  apps/airdrop/hooks/useDevTokenBalance.ts
  apps/airdrop/lib/getAirdropTokenStatusAction.ts
  apps/airdrop/lib/trackAirdropClaimPayoutAction.ts
  apps/airdrop/package.json
  package-lock.json
  package.json
  packages/blockchain/package.json
  packages/blockchain/src/airdrop/createThirdwebAirdropContract.ts
  packages/blockchain/src/airdrop/deployThirdwebAirdropContract.ts
  packages/blockchain/src/airdrop/thirdwebERC20AirdropContract.ts
  packages/blockchain/src/constants.ts
  scripts/createAndStoreThirdWebAirdropContract.ts
Labels: :rocket: deploy-airdrop

#499 add metadata for farcaster frame on share page
  apps/scoutgame/app/(general)/page.tsx
  apps/scoutgame/app/(info)/login/page.tsx
Labels: :rocket: deploy-scoutgame

#498 add a retry around transaction receipt when minting NFTs
  .eslintrc.json
  packages/blockchain/src/waitForTransactionReceipt.ts
  packages/scoutgame/src/builderNfts/clients/preseason02/wrappers/ScoutGamePreSeason02NFTImplementation.ts
  packages/scoutgame/src/builderNfts/clients/starterPack/wrappers/ScoutGameStarterPackNFTImplementation.ts
Labels: :rocket: deploy-scoutgame

#501 draft season UI
  .github/workflows/deploy_draft.yml
  .github/workflows/destroy_staging.yml
  apps/admin/components/partners/components/GithubMetrics.tsx
  apps/airdrop/.env.ebstalk
  apps/airdrop/components/common/Navigation/SiteNavigation.tsx
  apps/draft/.env.ebstalk
  apps/draft/Dockerfile
  apps/draft/app/(info)/layout.tsx
  apps/draft/app/(info)/login/page.tsx
  apps/draft/app/(info)/template.tsx
  apps/draft/app/api/health/route.ts
  apps/draft/app/layout.tsx
  apps/draft/app/page.tsx
  apps/draft/components/common/ClientGlobals.tsx
  apps/draft/components/login/LoginPage.tsx
  apps/draft/jest.config.ts
  apps/draft/next-env.d.ts
  apps/draft/next.config.mjs
  apps/draft/package.json
  apps/scoutgame/.env.ebstalk
  apps/scoutgame/app/(general)/draft/page.tsx
  apps/scoutgame/app/(general)/draft/register/page.tsx
  apps/scoutgame/app/(general)/page.tsx
  apps/scoutgame/components/common/Card/BuilderCard/BuilderCardActivity/BuilderCardActivity.tsx
  apps/scoutgame/components/common/Card/BuilderCard/BuilderCardActivity/BuilderCardRankGraph.tsx
  apps/scoutgame/components/common/DeveloperInfoModal/DeveloperInfoModal.tsx
  apps/scoutgame/components/common/Navigation/SiteNavigation.tsx
  apps/scoutgame/components/draft/DraftRegisterPage.tsx
  apps/scoutgame/components/draft/components/CollapsibleTableHeader.tsx
  apps/scoutgame/components/draft/components/DraftDevelopersTable.tsx
  apps/scoutgame/components/draft/components/TableHeaderExplanation.tsx
  apps/scoutgame/components/home/CountdownTimer.tsx
  apps/scoutgame/components/home/DraftLandingPage.tsx
  apps/scoutgame/components/home/LandingPage.tsx
  apps/scoutgame/components/home/SeasonOneLandingPage.tsx
  apps/scoutgame/components/info/InfoPage.tsx
  apps/scoutgame/components/matchup/register/components/MatchupSelection/components/AllDevelopersTable/AllDevelopersTable.tsx
  apps/scoutgame/components/scout/components/ScoutPageTable/components/DevelopersTable.tsx
  apps/scoutgame/middleware.ts
  apps/scoutgame/public/images/home/cards.png
  apps/scoutgame/public/images/home/characters.png
  apps/scoutgame/public/images/home/draft-open.png
  apps/scoutgame/public/images/home/one.svg
  apps/scoutgame/public/images/home/scout-sticker.png
  apps/scoutgame/public/images/home/thirteen.svg
  docker-compose.yml
  package-lock.json
  package.json
  packages/dates/src/config.ts
  packages/dates/src/utils.ts
  packages/scoutgame-ui/src/components/common/Header/HeaderMessage.tsx
  packages/scoutgame-ui/src/components/common/Hidden.tsx
  packages/scoutgame-ui/src/theme/theme.ts
  packages/scoutgame/src/draft/getDraftDevelopers.ts
Labels: :rocket: deploy-draft

#529 Draft v6
  apps/draft/.env.ebstalk
  apps/scoutgame/components/common/DraftDeveloperInfoModal/components/DraftDeveloperBidForm.tsx
  apps/scoutgame/components/common/DraftDeveloperInfoModal/components/DraftPaymentOptionSelector.tsx
  apps/scoutgame/components/home/SeasonOneLandingPage.tsx
  apps/scoutgame/middleware.ts
  packages/scoutgame-ui/src/providers/DraftProvider.tsx
Labels: :rocket: deploy-draft

#530 support frames airdrop claim
  apps/airdrop/app/api/airdrop/route.ts
  apps/airdrop/components/claim/ClaimTokenScreen.tsx
  apps/airdrop/components/common/AppProviders.tsx
  apps/airdrop/components/common/ClientGlobals.tsx
  apps/airdrop/components/common/WalletLogin.tsx
  apps/airdrop/hooks/useInitFarcasterData.ts
  apps/airdrop/lib/getAirdropTokenStatusAction.ts
  apps/draft/Dockerfile
  scripts/createAndStoreThirdWebAirdropContract.ts
Labels: :rocket: deploy-draft

#559 load wagmi provider on the client only
  apps/scoutgame/app/layout.tsx
  packages/scoutgame-ui/src/providers/AppProviders.tsx
Labels: :rocket: deploy-scoutgame

#562 Pay matchup with dev
  apps/scoutgame/app/layout.tsx
  apps/scoutgame/components/(general)/components/SiteNavigation.tsx
  apps/scoutgame/components/common/ConnectedWalletDialog.tsx
  apps/scoutgame/components/common/DeveloperInfoModal/DeveloperInfoModal.tsx
  apps/scoutgame/components/common/Dialog.tsx
  apps/scoutgame/components/common/DraftDeveloperInfoModal/DraftDeveloperInfoModal.tsx
  apps/scoutgame/components/common/DraftDeveloperInfoModal/components/DraftDeveloperBidForm.tsx
  apps/scoutgame/components/common/ModalProvider.tsx
  apps/scoutgame/components/common/NFTListing/NFTListingButton.tsx
  apps/scoutgame/components/common/NFTListingPurchase/NFTListingPurchaseButton.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/ChainSelector/ChainSelector.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/ERC20Approve.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/components/NFTPurchaseForm.tsx
  apps/scoutgame/components/common/NFTPurchaseDialog/hooks/useGetTokenBalances.tsx
  apps/scoutgame/components/common/PaymentTokenSelector.tsx
  apps/scoutgame/components/common/ScoutButton/ScoutButton.tsx
  apps/scoutgame/components/common/ScoutButton/SignInModalMessage.tsx
  apps/scoutgame/components/matchup/components/MatchupRegistrationDialog.tsx
  apps/scoutgame/components/matchup/components/RegistrationButton.tsx
  apps/scoutgame/components/matchup/components/RegistrationHeader.tsx
  apps/scoutgame/components/matchup/components/hooks/useTokenPayment.ts
  apps/scoutgame/components/matchup/register/components/MatchupSelection/components/AllDevelopersTable/AllDeveloperTableServer.tsx
  apps/scoutgame/components/matchup/register/components/MatchupSelection/components/AllDevelopersTable/AllDevelopersTable.tsx
  apps/scoutgame/components/scout/ScoutPage.tsx
  apps/scoutgame/hooks/useGetTokenBalances.ts
  apps/scoutgame/middleware.ts
  package-lock.json
  packages/dates/src/utils.ts
  packages/matchup/src/addMatchupSelectionAction.ts
  packages/matchup/src/checkMatchupTransactionAction.ts
  packages/matchup/src/config.ts
  packages/matchup/src/getMyMatchup.ts
  packages/matchup/src/handleMatchupTransaction.ts
  packages/matchup/src/registerForMatchup.ts
  packages/matchup/src/registerForMatchupAction.ts
  packages/scoutgame-ui/src/components/common/Icons.tsx
  packages/scoutgame-ui/src/hooks/useLoginSuccessHandler.ts
  packages/scoutgame-ui/src/providers/AppProviders.tsx
  packages/scoutgame-ui/src/providers/MatchupProvider.tsx
  packages/scoutgame/src/builderNfts/artwork/components/BuilderShareImage.tsx
  packages/scoutgame/src/builders/getDevelopersForTable.ts
  packages/scoutgame/src/scouts/getScoutedBuilders.ts
Labels: :rocket: deploy-scoutgame

#586 update dev token page
  apps/cron/src/tasks/updateBuildersCardActivity/__tests__/updateBuildersCardActivity.spec.ts
  apps/cron/src/tasks/updateBuildersCardActivity/index.ts
  apps/cron/src/tasks/updateBuildersCardActivity/updateBuildersCardActivity.ts
  apps/scoutgame/app/(general)/info/dev-tokens/page.tsx
  apps/scoutgame/components/info/components/SidebarInfo.tsx
  apps/scoutgame/components/info/pages/DevTokensPage.tsx
  apps/scoutgame/public/images/info/token-breakdown.png
  packages/mailer/src/sendEmailNotification.ts
  packages/scoutgame-ui/src/components/common/WalletAddress.tsx
  packages/scoutgame/src/builderNfts/recordOnchainNftMint.ts
Labels: :rocket: deploy-scoutgame

#589 show wallet address in account menu
  apps/scoutgame/components/(general)/Header.tsx
  apps/scoutgame/components/(general)/components/AccountMenu.tsx
  apps/scoutgame/hooks/useDevTokenBalance.ts
  packages/scoutgame-ui/src/components/common/WalletLogin/WalletLogin.tsx
Labels: :rocket: deploy-scoutgame
