Repository scoutgame/scoutgame.xyz, pull requests merged in 2025-01, with the labels that each got.

#76 Fix claim links
  apps/scoutgame/public/images/profile/magnifying_glass.png
  packages/scoutgame-ui/src/components/common/Navigation/SiteNavigation.tsx
  packages/scoutgame-ui/src/components/common/ScoutButton/SignInModalMessage.tsx
Labels: :rocket: deploy-scoutgame

#74 Email settings in accounts page
  apps/cron/src/emails/sendGemsPayoutEmails.ts
  apps/cron/src/tasks/processBuilderActivity/recordClosedPullRequest.ts
  apps/onchain-cron/src/emails/sendGemsPayoutEmails.ts
  apps/onchain-cron/src/tasks/processBuilderActivity/__tests__/recordCommit.spec.ts
  apps/onchain-cron/src/tasks/processBuilderActivity/__tests__/recordMergedPullRequest.spec.ts
  apps/onchain-cron/src/tasks/processBuilderActivity/recordClosedPullRequest.ts
  apps/scoutgame/app/(general)/accounts/page.tsx
  apps/scoutgame/scripts/sendBuilderStatusEmails.ts
  apps/scoutgame/scripts/sendEmailsToNoPurchaseScouts.ts
  apps/telegram/app/(general)/accounts/page.tsx
  package-lock.json
  package.json
  packages/mailer/src/mailer.ts
  packages/scoutgame-ui/src/components/accounts/AccountsPage.tsx
  packages/scoutgame-ui/src/components/accounts/components/EmailSettings/EmailSettings.tsx
  packages/scoutgame/src/builderNfts/recordNftMint.ts
  packages/scoutgame/src/builders/approveBuilder.ts
  packages/scoutgame/src/referrals/updateReferralUsers.ts
  packages/scoutgame/src/testing/__tests__/mockNFTPurchaseEvent.spec.ts
  packages/scoutgame/src/users/updateUserEmailSettings.ts
  packages/scoutgame/src/users/updateUserEmailSettingsSchema.ts
Labels: :rocket: deploy-scoutgame

#71 Improve scout carousel tabs performance
  apps/onchain-scoutgame/app/(general)/scout/page.tsx
  apps/scoutgame/app/(general)/scout/page.tsx
  apps/telegram/app/(general)/scout/page.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPage.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageCarousel.tsx
  packages/scoutgame-ui/src/components/scout/components/ScoutPageCarouselContainer.tsx
Labels: :rocket: deploy-scoutgame

#88 Builder partner pages
  apps/onchain-scoutgame/app/(general)/celo/page.tsx
  apps/onchain-scoutgame/app/(general)/game7/page.tsx
  apps/onchain-scoutgame/app/(general)/lit/page.tsx
  apps/onchain-scoutgame/app/(general)/page.tsx
  apps/onchain-scoutgame/components/home/LandingPage.tsx
  apps/scoutgame/app/(general)/celo/page.tsx
  apps/scoutgame/app/(general)/game7/page.tsx
  apps/scoutgame/app/(general)/lit/page.tsx
  apps/scoutgame/components/home/LandingPage.tsx
  apps/scoutgame/public/images/home/code-icon.svg
  apps/scoutgame/public/images/home/github-icon.svg
  apps/scoutgame/public/images/partner/celo-hero.png
  apps/scoutgame/public/images/partner/game7-hero.png
  apps/scoutgame/public/images/partner/lit-hero.png
  apps/scoutgame/public/images/partner/talent-hero.png
  apps/telegram/app/(general)/celo/page.tsx
  apps/telegram/app/(general)/game7/page.tsx
  apps/telegram/app/(general)/lit/page.tsx
  packages/mailer/src/mailer.ts
  packages/scoutgame-ui/src/components/partners/CeloLandingPage.tsx
  packages/scoutgame-ui/src/components/partners/Game7LandingPage.tsx
  packages/scoutgame-ui/src/components/partners/LitLandingPage.tsx
  packages/scoutgame-ui/src/components/partners/PartnerLandingPage.tsx
  packages/scoutgame-ui/src/components/partners/TalentLandingPage.tsx
Labels: :rocket: deploy-scoutgame

#96 show list of builders when leaderboard is empty
  apps/scoutgame/app/(general)/builders/page.tsx
  packages/scoutgame-ui/src/components/builders/BuilderPageTable/BuilderPageTable.tsx
  packages/scoutgame-ui/src/components/builders/BuildersPage.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPageTable/ScoutPageTable.tsx
  packages/scoutgame-ui/src/components/scout/ScoutPageTable/components/BuildersTable.tsx
Labels: :rocket: deploy-scoutgame

#119 Fix starter pack
  .env.test.local.example
  packages/scoutgame-ui/src/components/common/NFTPurchaseDialog/components/NFTPurchaseForm.tsx
  packages/scoutgame-ui/src/components/common/NFTPurchaseDialog/hooks/__tests__/useDecentTransaction.spec.ts
  packages/scoutgame-ui/src/components/common/NFTPurchaseDialog/hooks/useDecentTransaction.tsx
  packages/scoutgame/src/builderNfts/constants.ts
  packages/scoutgame/src/builderNfts/handlePendingTransaction.ts
Labels: :rocket: deploy-scoutgame

#89 Animate quests navigation button
  apps/onchain-scoutgame/app/api/quests/daily-claims/route.ts
  apps/scoutgame/app/api/quests/daily-claims/route.ts
  apps/telegram/app/api/quests/daily-claims/route.ts
  packages/scoutgame-router/api/quests/daily-claims/route.ts
  packages/scoutgame-ui/src/components/common/Navigation/SiteNavigation.tsx
  packages/scoutgame-ui/src/components/quests/DailyClaimGallery/DailyClaimCard.tsx
  packages/scoutgame-ui/src/hooks/api/quests.ts
Labels: :rocket: deploy-scoutgame

#174 Added contribution guide info page
  apps/scoutgame/app/(general)/info/contribution-guide/page.tsx
  apps/telegram/app/(general)/info/contribution-guide/page.tsx
  packages/scoutgame-ui/src/components/info/components/SidebarInfo.tsx
  packages/scoutgame-ui/src/components/info/pages/ContributionGuidePage.tsx
Labels: :rocket: deploy-scoutgame

#171 enable sending farcaster messages from scoutgamexyz
  apps/admin/.env.ebstalk
  apps/admin/app/(general)/farcaster/page.tsx
  apps/admin/components/farcaster/FarcasterDashboard.tsx
  apps/admin/lib/farcaster/sendMessagesAction.ts
  apps/admin/lib/session/getAdminUser.ts
  packages/farcaster/src/warpcast/directCastApi.ts
  packages/nextjs/src/actions/actionClient.ts
  packages/nextjs/src/session/getUserFromSession.ts
  packages/nextjs/src/session/interfaces.ts
  packages/nextjs/src/session/logoutAction.ts
  packages/nextjs/src/session/saveSession.ts
  packages/nextjs/src/utils/async.ts
Labels: :rocket: deploy-admin

#180 Info page footer
  apps/scoutgame/app/(general)/info/layout.tsx
  apps/scoutgame/components/home/LandingPage.tsx
  packages/scoutgame-ui/src/components/info/components/InfoPageContainer.tsx
  packages/scoutgame-ui/src/components/info/components/InfoPageFooter.tsx
  packages/scoutgame-ui/src/components/partners/PartnerLandingPage.tsx
Labels: :rocket: deploy-scoutgame

#149 save work on cheaters script for cleanup later
  scripts/query.ts
  scripts/removeCheaters.ts
Labels: Work in progress

#197 Fix type errors during test running
  .cdk/ProductionStack.ts
  .cdk/StagingStack.ts
  .gitignore
  cdk.json
  package-lock.json
  package.json
  packages/scoutgame/package.json
  packages/utils/tsconfig.json
  scripts/README.md
  scripts/tsconfig.json
Labels: :rocket: deploy-admin, Work in progress

#206 remove talent protocol and op supersim
  apps/scoutgame/app/(general)/info/partner-rewards/op-supersim/page.tsx
  apps/scoutgame/app/(general)/info/partner-rewards/talent-protocol/page.tsx
  packages/scoutgame-ui/src/components/builders/PartnerRewardsCarousel/PartnerRewardsCarousel.tsx
  packages/scoutgame-ui/src/components/info/components/InfoPageFooter.tsx
  packages/scoutgame-ui/src/components/info/components/SidebarInfo.tsx
  packages/scoutgame-ui/src/components/info/pages/PartnerRewardsPage.tsx
  packages/scoutgame-ui/src/components/info/partner-rewards/OptimismSupersimPage.tsx
  packages/scoutgame-ui/src/components/info/partner-rewards/TalentProtocolPage.tsx
  packages/scoutgame-ui/src/components/partners/TalentLandingPage.tsx
Labels: :rocket: deploy-scoutgame

#205 Partner rewards page
  apps/scoutgame/public/images/crypto/glo-dollar.png
  apps/scoutgame/public/images/crypto/moxie.png
  apps/telegram/.ebextensions/00_env_vars.config
  apps/telegram/.ebextensions/01_filesystem.config
  apps/telegram/.ebextensions/02_autoscaling.config
  apps/telegram/.ebextensions/03_env_health_ignore_400.config
  apps/telegram/.ebextensions/06_cloudwatch_alarm.config
  apps/telegram/.ebextensions/07_http-to-https.config
  apps/telegram/.env.ebstalk
  apps/telegram/README.md
  apps/telegram/package.json
  apps/telegram/playwright.config.ts
  apps/telegram/tsconfig.json
  package.json
  packages/scoutgame-ui/src/components/info/components/InfoPageFooter.tsx
  packages/scoutgame-ui/src/components/info/pages/PartnerRewardsPage.tsx
Labels: :rocket: deploy-scoutgame

#203 New root info page layout
  apps/scoutgame/components/home/LandingPage.tsx
  packages/scoutgame-ui/src/components/info/InfoPage.tsx
Labels: :rocket: deploy-scoutgame

#207 Redesign for builders page
  apps/scoutgame/__e2e__/onboarding.spec.ts
  apps/scoutgame/__e2e__/po/BuildersPage.po.ts
  apps/scoutgame/__e2e__/po/WelcomePage.po.ts
  apps/scoutgame/__e2e__/test.ts
  apps/scoutgame/app/(general)/builders/page.tsx
  apps/scoutgame/app/(info)/welcome/builder-registration-callback/page.tsx
  apps/scoutgame/app/(info)/welcome/builder/page.tsx
  apps/scoutgame/app/(info)/welcome/how-it-works/page.tsx
  apps/scoutgame/app/(info)/welcome/layout.tsx
  apps/scoutgame/app/(info)/welcome/page.tsx
  apps/scoutgame/app/(info)/welcome/spam-policy/page.tsx
  apps/scoutgame/app/api/connect-github/get-link/route.ts
  apps/scoutgame/public/images/profile/builder-dog.png
  packages/scoutgame-ui/src/components/builder-registration-callback/BuilderSetupPage.tsx
  packages/scoutgame-ui/src/components/builders/BuilderInviteCard/BuilderInviteCard.tsx
  packages/scoutgame-ui/src/components/builders/BuildersPage.tsx
  packages/scoutgame-ui/src/components/builders/Global/BuildersGlobal.tsx
  packages/scoutgame-ui/src/components/builders/InviteModal/InviteModal.tsx
  packages/scoutgame-ui/src/components/builders/ScoutsInfo/ScoutsInfo.tsx
  packages/scoutgame-ui/src/components/common/WalletLogin/WalletLogin.tsx
  packages/scoutgame-ui/src/components/common/WarpcastLogin/WarpcastLogin.tsx
  packages/scoutgame-ui/src/components/common/WarpcastLogin/WarpcastLoginButton.tsx
  packages/scoutgame-ui/src/components/layout/SearchParamsTracking.tsx
  packages/scoutgame-ui/src/components/login/LoginPage.tsx
  packages/scoutgame-ui/src/components/partners/PartnerLandingPage.tsx
  packages/scoutgame-ui/src/components/profile/components/BuilderProfile/BuilderProfile.tsx
  packages/scoutgame-ui/src/components/welcome/builder/BuilderWelcomePage.tsx
  packages/scoutgame-ui/src/components/welcome/builder/components/ExtraDetailsForm.tsx
  packages/scoutgame-ui/src/components/welcome/builder/components/SkipBuilderStepButton.tsx
  packages/scoutgame-ui/src/components/welcome/how-it-works/HowItWorksContent.tsx
  packages/scoutgame-ui/src/components/welcome/how-it-works/HowItWorksPage.tsx
  packages/scoutgame-ui/src/components/welcome/how-it-works/HowItWorkscontainer.tsx
  packages/scoutgame-ui/src/components/welcome/spam-policy/SpamPolicyPage.tsx
  packages/scoutgame-ui/src/hooks/useLoginSuccessHandler.tsx
  packages/scoutgame-ui/src/providers/AppProviders.tsx
  packages/scoutgame-ui/src/providers/ModalProvider.tsx
  packages/scoutgame-ui/src/providers/OnboardingRoutes.tsx
  packages/scoutgame/src/constants.ts
  packages/scoutgame/src/social/loadBuildersUserKnows.ts
Labels: :rocket: deploy-scoutgame

#231 Scout project v1
  apps/cron/src/scripts/processBuilderActivity.ts
  apps/scoutgame/app/(general)/profile/page.tsx
  apps/scoutgame/app/(general)/projects/[path]/page.tsx
  apps/scoutgame/app/(general)/projects/page.tsx
  apps/scoutgame/app/(general)/u/[path]/page.tsx
  apps/scoutgame/middleware.ts
  apps/scoutgame/public/images/crypto/taiko.png
  package-lock.json
  package.json
  packages/scoutgame-ui/src/components/[path]/PublicProfilePage.tsx
  packages/scoutgame-ui/src/components/[path]/components/PublicBuilderProfile/PublicBuilderProfile.tsx
  packages/scoutgame-ui/src/components/[path]/components/PublicBuilderProfile/PublicBuilderProfileContainer.tsx
  packages/scoutgame-ui/src/components/[path]/components/PublicScoutProfile/PublicScoutProfile.tsx
  packages/scoutgame-ui/src/components/[path]/components/PublicScoutProfile/PublicScoutProfileContainer.tsx
  packages/scoutgame-ui/src/components/profile/ProfilePage.tsx
  packages/scoutgame-ui/src/components/profile/components/UserProfileForm.tsx
  packages/scoutgame-ui/src/components/projects/ProjectsPage.tsx
  packages/scoutgame-ui/src/components/projects/[path]/ProjectPage.tsx
  packages/scoutgame-ui/src/components/projects/components/CreateProjectForm/CreateProjectForm.tsx
  packages/scoutgame-ui/src/components/projects/components/CreateProjectForm/ProjectAvatarField.tsx
  packages/scoutgame-ui/src/components/projects/components/CreateProjectForm/ProjectSmartContractForm.tsx
  packages/scoutgame-ui/src/components/projects/components/CreateProjectForm/ProjectTeamMemberForm.tsx
  packages/scoutgame-ui/src/components/projects/components/CreateProjectForm/SearchProjectTeamMember.tsx
  packages/scoutgame-ui/src/components/projects/components/ProjectsList/ProjectsList.tsx
  packages/scoutgame-ui/src/components/projects/components/ProjectsList/ProjectsTab.tsx
  packages/scoutgame-ui/src/components/projects/constants.ts
  packages/scoutgame/src/projects/createScoutProject.ts
  packages/scoutgame/src/projects/createScoutProjectAction.ts
  packages/scoutgame/src/projects/createScoutProjectSchema.ts
  packages/scoutgame/src/projects/generateProjectPath.ts
  packages/scoutgame/src/projects/getProjectByPath.ts
  packages/scoutgame/src/projects/getUserScoutProjects.ts
  packages/scoutgame/src/projects/projectSelect.ts
Labels: :rocket: deploy-scoutgame

#247 bump some dependencies
  apps/scoutgame/package.json
  package-lock.json
  package.json
  packages/scoutgame-ui/package.json
  packages/scoutgame/package.json
Labels: :rocket: deploy-scoutgame

#235 Make the purchase modal global
  packages/scoutgame-ui/src/components/common/NFTPurchaseDialog/NFTPurchaseDialog.tsx
  packages/scoutgame-ui/src/components/common/ScoutButton/ScoutButton.tsx
  packages/scoutgame-ui/src/providers/AppProviders.tsx
  packages/scoutgame-ui/src/providers/ModalProvider.tsx
Labels: :rocket: deploy-scoutgame

#259 Added octant partner rewards page
  apps/scoutgame/app/(general)/info/partner-rewards/octant/page.tsx
  apps/scoutgame/app/(general)/octant/page.tsx
  apps/scoutgame/public/images/crypto/octant.svg
  apps/scoutgame/public/images/info/rewards-partner-octant-base.webp
  apps/scoutgame/public/images/partner/octant-hero.png
  apps/scoutgame/public/images/promos/octant-promo-slide.png
  packages/scoutgame-ui/src/components/builders/PartnerRewardsCarousel/PartnerRewardsCarousel.tsx
  packages/scoutgame-ui/src/components/info/components/SidebarInfo.tsx
  packages/scoutgame-ui/src/components/info/partner-rewards/OctantPage.tsx
  packages/scoutgame-ui/src/components/partners/OctantLandingPage.tsx
Labels: :rocket: deploy-scoutgame

#258 Dev tab carousel update for existing rewards
  apps/scoutgame/public/images/promos/celo-promo-slide.png
  apps/scoutgame/public/images/promos/game7-promo-slide.png
  apps/scoutgame/public/images/promos/lit-promo-slide.png
  apps/scoutgame/public/images/promos/talent-promo-slide.png
Labels: :rocket: deploy-scoutgame

#253 Better toast ux
  apps/scoutgame/__e2e__/buyNft.spec.ts
  packages/scoutgame-ui/src/components/common/NFTPurchaseDialog/components/NFTPurchaseForm.tsx
  packages/scoutgame-ui/src/providers/PurchaseProvider.tsx
Labels: :rocket: deploy-scoutgame
